[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dtt"]
	path = dtt
	url = https://github.com/cran/dtt
[submodule "mblm"]
	path = mblm
	url = https://github.com/cran/mblm
[submodule "moments"]
	path = moments
	url = https://github.com/cran/moments
[submodule "outliers"]
	path = outliers
	url = https://github.com/cran/outliers
